# vendor/bin/phpstan analyse app --memory-limit 200M -l 0
# includes:
#   - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
  # excludePaths:
  #   - 'src/*/output/*'
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - '#Unsafe usage of new static\(\)\.#'
    
